mat-form-field{
    padding: 5px;
}

.float-right{
    float: right;
}

table{
    width:100%;
}

mat-card{
    padding: 20px !important;
}

.float-right{
    float: right;
    margin: 10px;
    width: 20%;
}
.heading{
    padding: 10px;
    justify-content: space-between;
    margin: 10px;
}
b{
    padding: 10px;
    margin: 10px;
    float: left;
}

.sp{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
}

.responsive_table{
    margin: 10px; 
}
table{
    padding: 20px;
    width: 100%;
}
.action-link{
    text-align: end;
}
p{
    text-align: end;  

}
