.example-sidenav-container{
  width: 100%;
  height: 2100px;
}
.page-wrapper{
    background-color: rgb(236, 236, 236);
    height: 100%;
    
    
}
.dark-sidebar {
    box-shadow: 100%;
    height: 100%;
    width: 15%;
   
}
.page-content{
    height: 100%;
}
