mat-card{
    padding: 20px;
    box-shadow: 100px;
    
}
.card{
    background-color: white;
    float: left;
    width: 350px;
    text-align: center;
    margin-left: 0;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
    box-shadow: 100px;
}

button{
    width: 100%;
    box-shadow: 100px;
}

.container{
    box-shadow: 100px;
}

.row{
  background-color: white;
  box-shadow: 100px;
}

.column{
    box-shadow: 100px;
}

body{
    margin: 10px;
    box-shadow: 100px;
}