.card{
    border: 300px;
    border-color: blue;
}
.container{
    border: 300px;
    border-color: blue;
}
.row{
    border: 300px;
    border-color: blue;
}
.column{
    border: 300px;
    border-color: blue;
}
body{
    background-color: rgb(201, 23, 23);
}